---
import BaseLayout from "../../layouts/BaseLayout.astro";

import { getCollection } from "astro:content";

const blogEntries = await getCollection('blog');

const title = "All Blog Posts";
---

<BaseLayout title={title}>
  <div>
    <ul>
      {blogEntries.map(post => (
        <li class="flex gap-4">
          <p>{post.data.pubDate}</p>
          <a class="link link-primary" href={`/blog/${post.slug}`}>{post.data.title}</a>
        </li>
      ))}
    </ul>
  </div>
</BaseLayout>
