---
const today = new Date();
---

<footer class="my-6 text-sm text-gray-500">
    <div>
        <div>
        <p>
            Copyright &copy; {today.getFullYear()} hokkaido-milk-tea. All rights reserved.
        </p>
        </div>
    </div>
    <div>
        <p>
            Built with <a class="unset font-bold text-gradient" href="https://www.astro.build">Astro</a> 🚀 and
            <a class="unset gradient-link tracking-wider font-bold bg-clip-text text-transparent bg-gradient-to-r from-[#f57111] to-[#f79605] hover:after:bg-gradient-to-r hover:after:from-[#f57111] hover:after:to-[#f79605] astro-BHEBEICR" href="https://github.com/flexdinesh/blogster" target="_blank">
                Blogster
            </a>
        </p>
    </div>
</footer>

<style>
    :root {
		--accent: 124, 58, 237;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
</style>