---
import ThemeToggle from "./ThemeToggle.astro";
---

<nav class="navbar">

  <div class="flex-1">
    <a href="/" class="btn btn-ghost btn-circle"><img src='/images/bubble-tea.svg' width="40" /></a>
    <a class="hidden sm:block normal-case text-xl font-bold pl-2">hokkaido-milk-tea</a>
  </div>

  <div class="flex-none">

    <div class="hidden sm:block">
      <a class="btn btn-ghost" href="/">Home</a>
      <a class="btn btn-ghost" href="/about/">About</a>
      <a class="btn btn-ghost" href="/blog/">Blog</a>
      <a class="btn btn-ghost" href="/tags/">Tags</a>
    </div>

    <div class="sm:hidden dropdown dropdown-bottom dropdown-end">
      <label tabindex="0" class="btn btn-ghost btn-circle">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7" /></svg>
      </label>
      <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52">
        <li><a href="/">Home</a></li>
        <li><a href="/about/">About</a></li>
        <li><a href="/blog/">Blog</a></li>
        <li><a href="/tags/">Tags</a></li>
      </ul>
    </div>

    <ThemeToggle />
    
  </div>

</nav>
