---
import ThemeScript from '../components/ThemeScript.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import GoogleFont from '../components/GoogleFont.astro';

import "../styles/global.css";

export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html class="theme-bubblegum" lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/bubble-tea.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<GoogleFont />
		<ThemeScript />
	</head>
	<body class="flex flex-col max-w-2xl mx-auto min-h-screen px-6">
		<Header />
		<div class="flex-auto">
			<slot />
		</div>
		<Footer />
	</body>
</html>